<%= erb :"common/header" %>
<!-- COURSES -->
  <main>
    <% if @courses.count > 0 %>
      <% @courses.each do |course| %>
        <div class="courses-container">
          <div class="course">
            <img src=<%=h course.image %>>
            <h2><%=h course.name %></h2>
            <p><%=h course.about %></p>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>The database is empty!</p>
    <% end %> 
  </main>
<%= erb :"common/footer" %>