<%= erb :"common/header" %>
<!-- COURSES -->
  <main>
  <h1><%=h @h1 %></h1>

  <% if @error %>
    <p class="error"><%=h @error %></p>
  <% end %>
  
  <div class="filters">
    <form method="get" action="/courses">

      <select id="filter" name="filter">
        <option value="">Select Filter</option>
        <option value="all">All</option>
        <option value="pop">By popularity</option>
        <option value="trust">Trusted</option>
      </select>

      <button type="submit">Filter</button>
    </form>
  </div>

  <div class="padding">
    <% if @courses.count > 0 %>
      <% @courses.each do |course| %>
        <% if course.hide_status == 0 %>
          <div class="courses-container">
            <div class="course-shadow">
              <img src=<%=h course.image %> class="course-img">
              <article class="course">
                <h3><%=h course.name %></h2>
                <p><%=h course.about %></p>
                <% if session[:logged_in] %>
                  <div class="read-more">
                    <a href="course/<%=h course.id %>" target="_blank">More</a>
                  </div>
                <% end %>
              </article>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>The database is empty!</p>
    <% end %> 
  </div>
  </main>
<%= erb :"common/footer" %>