<%= erb :"common/header" %>
<!-- DASHBOARD -->
  <head>
    <style>
    .courseProgress {
      width: 400px;
      padding: 10px;
      border: 5px solid gray;
      margin: 0;
      margin-left: 20px;
    }
    .courseProgress img {
      width: 40px;
      height: 60px;
      object-fit: cover;
  }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      margin-right: 20px;
      margin-left: auto;
    }  
    th, td {
      padding: 5px;
      text-align: left;
    }
    h1, h2 {
      margin-left: 20px;
    }
  </style>
</head>
<body>
  <h1>
    Welcome to the student Edflix dashboard.
  </h1>
  <h2>
    Here is where you can access key functions relating to your courses.
  </h2>
  <table>
    <caption>User Information</caption>
    <tr>
      <th>Role:</th>
      <td><%= @role %></td>
    </tr>
    <tr>
      <th>First Name:</th>
      <td><%= @first_name %></td>
    </tr>
    <tr>
      <th>Surname:</th>
      <td><%= @surname %></td>
    </tr>
    <tr>
      <th>Username:</th>
      <td><%= @dashUsername %></td>
    </tr>
      <tr>
      <th>Email Address:</th>
      <td><%= @dashEmail %></td>
    </tr>
    <tr>
      <th>Gender:</th>
      <td><%= @gender %></td>
    </tr>
    <tr>
      <th>Date of Birth:</th>
      <td><%= @date_of_birth %></td>
    </tr>
      <tr>
      <th>Region:</th>
      <td><%= @region %></td>
    </tr>
    <tr>
      <th>Degree:</th>
      <td><%= @degree %></td>
    </tr>
  </table>
  <a href="/logout">Log Out</a>
  
  <a href="/change_password" target = "_blank">Reset password</a>

  <a href="/change_email">Reset Email</a>
  <div class = "courseProgress">
    <img src="images/CourseSymbol.png" alt="Course Symbol"/>
    <h3>Current course in progress:</h3>
    <br><%= @course %>
    <progress id="firstCourseProgress" value="50" max="100"> Course in progress </progress>

  </div>

   <form class="dashboard_details" method="post" action="/dashboard">
      <% if @error %>
        <p class = "error"><%= @error %></p>
      <% end %>
      <input type="text" id="first_name" name="first_name" placeholder="First Name" value="<%= h(params[:first_name]) %>">
      <input type="text" id="surname" name="surname" placeholder="Surname" value="<%= h(params[:surname]) %>">
      <label>Gender:</label>
      <input type="radio" id="male" name="gender" value="1">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="2">
      <label for="female">Female</label>
      <input type="radio" id="other" name="gender" value="3">
      <label for="other">Other</label><br><br>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" value="<%= h(params[:date_of_birth]) %>">
      <label for="regions">Select a region:</label>
      <select id="region" name="region">
        <option value="1">North America</option>
        <option value="2">South America</option>
        <option value="3">Central & South Asia</option>
        <option value="4">Southeastern Asia</option>
        <option value="5">Northeastern Asia</option>
        <option value="6">Australia and Oceania </option>
        <option value="7">Northern Europe</option>
        <option value="8">Southern Europe</option>
        <option value="9">Eastern Europe</option>
        <option value="10">Western Europe</option>
        <option value="11">Middle East</option>
        <option value="12">Northern Africa</option>
        <option value="13">Southern Africa</option>
        <option value="14">Central America</option>
        <option value="15">Caribbean</option>
      </select>
      <label for="degrees">Select a degree type:</label>
      <select id="degrees" name="degree">
        <option value="1">Undergraduate</option>
        <option value="2">Postgraduate</option>
        <option value="3">PHD</option>
      </select>
      <input type="submit" value="Submit">
    </form>
</body>
<%= erb :"common/footer" %>

