<%= erb :"common/header" %>

    <form class="dashboard_details" method="post" action="/edit-user">
      <% if @error %>
        <p class = "error"><%= @error %></p>
      <% end %>
      <input type="text" id="username" name="username" placeholder="Username" value="<%= h(params[:username]) %>">
      <input type="text" id="email" name="email" placeholder="Email" value="<%= h(params[:email]) %>">
      <input type="text" id="first_name" name="first_name" placeholder="First Name" value="<%= h(params[:first_name]) %>">
      <input type="text" id="surname" name="surname" placeholder="Surname" value="<%= h(params[:surname]) %>"><br><br>
      <label>Gender:</label>
      <input type="radio" id="male" name="gender" value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Female</label>
      <input type="radio" id="other" name="gender" value="other">
      <label for="other">Other</label><br><br>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" value="<%= h(params[:date_of_birth]) %>"><br><br>
      <label for="region">Region:</label>
      <select id="region" name="region">
        <option value="">Select Region...</option>
        <option value="1">North America</option>
        <option value="2">South America</option>
        <option value="3">Central & South Asia</option>
        <option value="4">Southeastern Asia</option>
        <option value="5">Northeastern Asia</option>
        <option value="6">Australia and Oceania</option>
        <option value="7">Northern Europe</option>
        <option value="8">Southern Europe</option>
        <option value="9">Eastern Europe</option>
        <option value="10">Western Europe</option>
        <option value="11">Middle East</option>
        <option value="12">Northern Africa</option>
        <option value="13">Southern Africa</option>
        <option value="14">Central America</option>
        <option value="15">Caribbean</option>
      </select>
      <label for="degree">Degree:</label>
      <select id="degree" name="degree">
        <option value="">Select Degree...</option>
        <option value="1">Undergraduate</option>
        <option value="2">Postgraduate</option>
        <option value="3">PHD</option>
      </select><br><br>
      <label>Suspension:</label>
      <input type="radio" name="suspension" value="TRUE">
      <label for="TRUE">TRUE</label>
      <input type="radio" name="suspension" value="FALSE">
      <label for="FALSE">FALSE</label><br><br>
      <label>Trusted provider approval:</label>
      <input type="radio" name="approval" value="TRUE">
      <label for="TRUE">TRUE</label>
      <input type="radio" name="approval" value="FALSE">
      <label for="FALSE">FALSE</label><br>
      <button type="submit">Update Details</button>
    </form>

<%= erb :"common/footer" %>