<%= erb :"common/header" %>

    <form class="dashboard_details" method="post" action="/edit-user">
      <% if @error %>
        <p class = "error"><%= @error %></p>
      <% end %>
      <input type="text" id="username" name="username" placeholder="Username" value="<%= h(params[:username]) %>">
      <input type="text" id="email" name="email" placeholder="Email" value="<%= h(params[:email]) %>">
      <input type="text" id="first_name" name="first_name" placeholder="First Name" value="<%= h(params[:first_name]) %>">
      <input type="text" id="surname" name="surname" placeholder="Surname" value="<%= h(params[:surname]) %>">
      <label>Gender:</label>
      <input type="radio" id="male" name="gender" value="male">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female">
      <label for="female">Female</label>
      <input type="radio" id="other" name="gender" value="other">
      <label for="other">Other</label><br><br>
      <label for="date_of_birth">Date of Birth:</label>
      <input type="date" id="date_of_birth" name="date_of_birth" placeholder="Date of Birth" value="<%= h(params[:date_of_birth]) %>">
      <input type="text" id="region" name="region" placeholder="Region" value="<%= h(params[:region]) %>">
      <input type="text" id="degree" name="degree" placeholder="Degree" value="<%= h(params[:degree]) %>">
      <label>Suspension:</label>
      <input type="radio" name="suspension" value="TRUE">
      <label for="TRUE">TRUE</label>
      <input type="radio" name="suspension" value="FALSE">
      <label for="FALSE">FALSE</label>
      <button type="submit">Update Details</button>
    </form>

<%= erb :"common/footer" %>