<%= erb :"common/header" %>

<!-- REGISTER -->
  <main>
    <% if @form_was_submitted %>
      <% if @submission_error %>
        <p><strong class="error">Please correct the errors below</strong></p>
      <% else %>
        <p><strong class="success">Success!</strong></p>        
      <% end %>
    <% end %>
    <form method="post" action="/register" class="signup">
      <p>
        <input type="text" name="username" value="<%= h @username %>" placeholder="Username"/>
        <% if @username_error %>
          <br /><strong class="error"><%= @username_error %></strong>
        <% end %>
      </p>
      <p>
        <input type="text" name="email" value="<%= h @email %>" placeholder="Email"/>
        <% if @email_error %>
          <br /><strong class="error"><%= @email_error %></strong>
        <% end %>
      </p>
      <p>
        <input type="text" name="password" value="<%= h @password %>" placeholder="Password"/>
        <% if @password_error %>
          <br /><strong class="error"><%= @password_error %></strong>
        <% end %>
      </p>
      <p><button type="submit">Submit</button></p>
    </form>
  </main>

<%= erb :"common/footer" %>