<%= erb :"common/header" %>
<!-- REGISTER -->
  <body>
    <h1>Register</h1>
    <% if @form_was_submitted %>
      <% if @submission_error %>
        <p><strong class="error">Please correct the errors below</strong></p>
      <% else %>
        <p><strong class="success">Success!</strong></p>        
      <% end %>
    <% end %>
    <form method="post" action="/register">
      <p>
        Username: <input type="text" name="username" value="<%= h @username %>" />
        <% if @username_error %>
          <br /><strong class="error"><%= @username_error %></strong>
        <% end %>
      </p>
      <p>
        Email: <input type="text" name="email" value="<%= h @email %>" />
        <% if @email_error %>
          <br /><strong class="error"><%= @email_error %></strong>
        <% end %>
      </p>
      <p>
        Password: <input type="text" name="password" value="<%= h @password %>" />
        <% if @password_error %>
          <br /><strong class="error"><%= @password_error %></strong>
        <% end %>
      </p>
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
<%= erb :"common/footer" %>