
<%= erb :"common/header" %>
<!-- DASHBOARD -->
  <head>
    <style>

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      margin-right: 20px;
      margin-left: auto;
    }  
    th, td {
      padding: 5px;
      text-align: left;
    }
    h1 {
      margin-left: 20px;
    }

    .logout {
      text-align: right;
      color: red;
      margin-right: 50px;
    }

    table.database {
      margin-left:auto;
      margin-right:auto;
      max-width: 1400px;

    }

  </style>
</head>
<body>
  <div class="logout">
    <a href="/logout">Log Out</a>
  </div>

  <h2>Courses</h2>
  <a href="/add_course" target = "_blank">Add course</a>
  <div class="database_table">
    <table class="database">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Description</th>
          <th>Rating</th>
          <th>Link</th>
          <th>Image Path</th>
          <th>Duration</th>
          <th>Prerequisites</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
        <tr>
          <td><%= course.id %></td>
          <td><%= course.name %></td>
          <td><%= course.about %></td>
          <td><%= course.rating %></td>
          <td><a href=<%= course.link %>>Link</a></td>
          <td><%= course.image %></td>
          <td><%= course.duration %></td>
          <td><%= course.pre %></td>
          <td>
            <a href="/modify_trusted/<%= course.id %>" target = "_blank" >Edit</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</body>
<%= erb :"common/footer" %>