<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="author" content="Artem Vakhutinskiy">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COM1001</title>
  <link rel="stylesheet" href=<%=h url('style/edflix.css') %>>
  <script type="text/javascript" src=<%=h url('js/js.js') %>></script>
</head>

<body>

<!--Navigation-->
  <header>

    <div class="logo">
      <a href="/"><img src=<%=h url('images/logo.png') %> alt="Edflix logo"></a>
    </div>

    <nav class="navigation">
      <form class="search-field" method="get" action="/search">
        <input type="text" placeholder="Search" name="search" value="<%= h(params[:query]) %>">
        <button class="search-button" type="submit">
          <img src=<%=h url('images/search.png') %>>
        </button>
      </form>
      <a href="/">Home</a>
      <a href="/courses">Courses</a>

      <% if session[:logged_in] && session[:role] == "Admin"  %>
        <a href="/dashboard_admin">Dashboard</a>
      <% elsif session[:logged_in] && session[:role] == "Manager" %>
        <a href="/dashboard_manager">Dashboard</a>
      <% elsif session[:logged_in] && session[:role] == "Moderator" %>
        <a href="/dashboard_moderator">Dashboard</a>
      <% elsif session[:logged_in] && session[:role] == "Learner" %>
        <a href="/dashboard">Dashboard</a>
      <% elsif session[:logged_in] && session[:role] == "Trusted" %>
        <a href="/dashboard_trusted">Dashboard</a>
      <% else %>
        <a href="/login">Log In</a>
      <% end %>
    </nav>

    <div class="toggleBox">
      <a onclick="showMenu()" href="#">
        <img class="menu" src=<%=h url('images/bars.png') %> alt="menu bars">
        <img class="close-menu" src=<%=h url('images/xmark.png') %> alt="close x-mark">
      </a>
    </div>
  </header>